*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

a,ul,button{
	text-decoration: none;
	list-style: none;
	border:none;
}

.product-button{
	font-weight: bold;
	background-color: green;
	padding: 10px;
	border: none;
	border-radius: 5px;
}

a:visited{
	color:inherit;
}
a:hover,a:active{
	color: #00818a;
}


body{
	font-family: 'Roboto', sans-serif;
	margin-top: 82px;
}

/*************************Backdrop*********************************/
.main-backdrop{
	background-color: rgba(0,0,0,0.5);
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	z-index: 20;
	display: none;
}


/******************************modal*************************/

.main-modal{
	position: fixed;
	display: none;
	z-index: 30;
	top: 20%;
	left: 35%;
	width: 30%;
	background-color: white;
	padding: 1rem;
	border: 1px solid #ccc;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
	border-radius: 10px;
}

.main-modal__actions,.main-modal__title{
	text-align: center;
}

.main-modal__action{
	color: white;
	font:inherit;
	padding: 0.5rem 1rem;
	cursor: pointer;
}
.main-modal__action--positive{
	background-color: #0e4f1f;
}
a.main-modal__action--positive{
	color: white;
}



.main-modal__action--positive:hover,.main-modal__action--positive:active{
	background-color: green;
	border-color: green;
	color: black;
}

.main-modal__action--negative{
	background-color: red;
	border-color: red;
}

.main-modal__action--negative:hover,.main-modal__action--negative:active{
	background-color: #ff5454;
	border-color: #ff5454;
}

/*********************************Header**************************/

.main-nav{
	width: 100%;
	font-family: 'Montserrat', sans-serif;
	background-color: gray;
	border-bottom: 1px solid black;
	position: fixed;
	top: 0;
	z-index: 10;
}

.main-nav div{
	display: inline-block;

}

.main-nav__logo{
	display: inline-block;
	width: 200px;
	color: white;
	vertical-align: middle;
}

.main-nav__logo img{
	width: 100%;
}


.main-nav__items{

	width: 70%;
	vertical-align: middle;
	text-align: right;

}

.main-nav__item{
	color: black;
	padding: 0 15px;
	display: inline-block;
}

.main-nav__item a, .mobile-nav__item a{
	color: black;
}

.main-nav__item a:hover, .main-nav__item a:active{
	color: white;
	border-bottom: 2px solid white;
}

.main-nav__item--login a, .mobile-nav__item--login a{
	color:white;
	background-color: #00818a;
	padding: 0.5rem 2rem;
	border-radius: 10px;
}


.main-nav__item--login a:hover, .main-nav__item--login a:active,
.mobile-nav__item--login a:hover, .mobile-nav__item--login a:active{
	color: white;
	background-color: #3c4245;
	border:none;
}


/***********************************************************Toggle Button*************************/

.toggle-button {
	display: none;
	width: 40px;
	background-color: transparent;
	cursor: pointer;
	padding-top: 0;
	padding-bottom: 0;
	vertical-align: middle;

}

.toggle-button:focus{
	outline: none;
}

.toggle-button__bar{
	width: 100%;
	height: 4px;
	background-color: white;
	display: block;
	margin: 8px 0;
	border-radius: 10px;
}


/***********************************Mobile Nav*********************************/


.mobile-nav{
	display: none;
	position: fixed;
	z-index: 100;
	top: 0;
	right: 0;
	background-color: white;
	width: 80%;
	height: 100vh;
}

.close-xbutton{
	color: black;
	font-size: 2rem;
	padding: 1rem;
	position: absolute;
	top: 10%;
	left: 90%;
	cursor: pointer;
}


.mobile-nav__items{
	width: 90%;
	height: 100%;
	list-style: none;
	margin: 5% auto;
	padding: 0;
	text-align: center;
}

.mobile-nav__item{
	margin: 1rem 0;
}

.mobile-nav__item a{
	font-size: 1.5rem;
}


/***********************************Main Footer********************************/
.main-footer{
	width: 100%;
	background-color:  #272121;
	box-sizing: border-box;
}


/********************************Main footer contact************************/

.main-footer__lists{

	display: inline-block;
	text-align: center;
	width: 80%;
}



.main-footer__list{
	padding-top: 20px;
	color: white;

	text-align: center;
	width: 19%;

	display: inline-block;
	vertical-align: top;
}

.main-footer__list li{
	padding-top: 5px;
}

.main-footer__list li a{
	color: white;
}

.main-footer__list li a:hover{
	color: #00818a;
}

.main-footer__contact{
	border-right: 2px solid white;
	text-align: center;
}


/****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************Home Page**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/




/********************************************************************************************* Main Section********************************************************************************/





/**********************************************Background Image**********************************/
.main-section__front{
	position: relative;
	height: 576px;
	background: url("../images/frontimage.jpg") 50%;
	border-bottom: 1px solid black;
	background-size: cover;
	background-position: center, center;
}



.main-section__front--cta{
	color: white;
	position: absolute;
	background-color: #3C4245;
	text-align: center;
	max-width: 25%;
	padding: 20px;
	border-radius: 10px;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.main-section__front--cta:hover{
	color: black;
	background-color: #00818a;
}

/*******************************************Products*********************************************/

.main-section__products{
	text-align: center;
	background-color: lightgray;
	padding-bottom: 50px;
	border-bottom: 1px solid black;
}

.chooseyourplan{
	padding: 20px;
}


.main-section__product{
	background-color: #5f6769;
	display: inline-block;
	width: 30%;
	padding: 20px 10px;
	margin: 0px 10px;
	vertical-align: middle;
}
.main-section__product h2{
	color: white;
}
.main-section__product h3{
	color: gray;
}

.main-section__product h4{
	font-size: 25px;
}

.main-section__product--recommended{
	background-color: #00818a;
	box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
	border-radius: 5px;
}

.main-section__product--recommended h1{
	color: #00818a;
	background-color: white;
	box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
	border-radius: 7px;
	margin: 10px 0;

}

.main-section__product--recommended h2{
	color: white;
}

.main-section__product--recommended h3{
	color: yellow;
}


.main-section__product--recommended h4{
	color: white;
}

.product-button{
	background-color: #272121;
	color: white;
	margin-top: 10px;
	cursor: pointer;
}

/************************************Main Section Benefits*****************************************/

.main-section__benefits{
	text-align: center;
	color: white;
	background-color: #5F6769;
	padding: 30px 0;
	border-bottom: 1px solid black;
}
.main-section__benefits > h2{
	padding-bottom: 20px;
}

.main-section__benefit--list{
	display: inline-block;
	vertical-align: top;
	width: 30%;

}

.main-section__benefit--image{
	background: white;
	width: 128px;
	height: 128px;
	border: 2px solid black;
	border-radius: 15%;
	margin: auto;
}

.main-section__benefit--image1{
	background-image: url("../images/happycustomer.png");
	background-size: 135%;
	background-position: center;

}

.main-section__benefit--image2{
	background-image: url("../images/fastcdn.jpg");
	background-size: 135%;
	background-position: center;
}

.main-section__benefit--image3{
	background-image: url("../images/uptime.png");
	background-size: contain;
	background-position: center;
}

.main-section__benefit--list p{
	padding-top: 10px;
	font-weight: bold;
}



/************************************ Main Section FAQ**************************************/

.main-section__faq{
	background-color: lightgray;
	padding: 50px;
	display: inline-block;
	border-bottom: 1px solid black;
}

.main-section__faq--image{
	height: 128px;
	width: 128px;
	border-radius: 50%;
	background: url("../images/frontimage.jpg");
	display: inline-block;
}

.main-section__faq--questions{
	width: calc(90% - 128px);
	display: inline-block;
	vertical-align: top;
	padding-left: 50px;
	border-left: 2px solid gray;
}



/***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************


*************************************************************************************************************************************************************************************************************************************************************************Product Page********************************************************************************


*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/

.backgroundimage{
	background-image: url("../images/background.jpg");
	width: 100%;
	height: 100%;
	position: fixed;
	top: 81px;
	z-index: -10;
}





.main-products__plan{
	padding: 30px;
	border: 3px solid darkgray;
	margin: 100px 50px 10px 50px;
	width: 60%;
	background-color: royalblue;
	position: relative;
}


.main-products__plan:hover{
	border:3px solid red;
	cursor: url("../images/poop.png") 16 16, auto;
}

.main-products__plan--title{
	padding: 10px 0 5px 0;
	color: white;
}

.main-products__plan--slogan{
	padding: 10px 0 15px 0;
	color: gray;

}

.main-products__plan--description{
	background-color: white;
	border:1px solid black;
	padding: 10px;
}




.main-products__plan--plus .main-products__plan--title{
	color: black;
}

.main-products__plan--plus{
	text-align: right;
	background-color: gold;
	float: right;
}

.main-products__plan--plus--badge{
	position: absolute;
	top: 20px;
	font-size: 12px;
	padding: 10px;
	background-color: #ff5454;
	border-radius: 10px;
	font-family: sans-serif;
	color: white;
}


/*************************Fix for the float left property of recommended product*****************************/
.clearfix{
	clear:both;
}

.main-products__plan--premium{
	background-color: darkgreen;
}




















/***************************************************************************************************************************************************************************** Mobile View**************************************************************************************************************************************************************************/

@media screen and (max-width:1024px){
	.main-nav{
		height: auto;
	}
	.main-nav__item{
		display: none;
		float: right;
		
	}

	.toggle-button{
		display: inline-block;
		position: absolute;
		top: 20px;
		right:20px;
	}

	.main-section__front{
		background-image: linear-gradient(to bottom left ,darkgray,#0B2A45);
	}
}

	@media screen and (max-width:800px){
	.main-section__front--cta{
		font-size: 1.3rem;
		max-width: 40%;
	}


		.main-section__product{
		display: block;
		margin: auto;
		width: 70%;
		margin-top: 10px;

	}


	.main-section__faq{
		padding: 20px;

	}

	.main-section__faq--image{
		display: none;
	}

	.main-section__faq--questions{
		display: block;
		width: 95%

	}



	.main-footer__contact{
		border:none;
		padding: 30px 0 0 30px;

	}


	.main-footer__lists .main-footer__list{
		width: 45%;
		height: 200px;

	}






	/*****************2nd Page********************/


	.main-products__plan{
		display: block;
		top: 10px;
		width: 65%;
		margin: 20px auto;
	}

	.main-products__plan--plus{
		float: none;
		width: 68%;
		border: 5px solid black;

	}


}



/****************************************Benefits List Part*********************/
@media screen and (max-width:600px){
	.main-section__benefit--list{
		display: block;
		margin: auto;
		width: 100%;

	}

	.main-section__benefit--list p{
		padding-bottom: 10px; 
	}

	.main-products__plan{
	width: 90%;
	}

	.main-products__plan--plus--badge{
		position: absolute;
		top: 5px;
		left: 5px;
	}





	.main-footer__contact{
		display: none;
	}

	.main-footer__lists{
		width: 100%;
	}
	.main-footer__list{
		width: 50%;
		height: 200px;

	}





}

/***********************************For smaller screen phones*************************/
@media screen and (max-width:400px){










}
















/*********Class for javascript use******************/


.open{
	display: block;
}